<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="/img/fav-icon.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <div class="container">
      {{>header}}
        <div id="about-me">

          <div id="bio-img-container">
            <div class="image-div">
              <img id="bio-img"
              src="/img/Anik.png"
              alt="Image of anik Sarkar"/>
            </div>
            <h3>Anik Sarkar</h3>
          </div>

          <div class="about-content">
                <p>
                  I am pursuing computer science and engineering at NIT Silchar as an undergrad. I like developing web applications and I enjoy coding.
                </p>
                <p>
                  Additionally,I explored a variety of technologies, such Node.js and Express.js on backend  along with HTML,CSS,Bootstrap, Tailwind CSS and JavaScript on the front end.
                </p>
                <p>
                  I have understanding of computer science concepts including OOPS, DBMS, OS, and computer networks. I have faith in my capacity for effective teamwork and communication.
                </p>
          </div>
        
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>